/* 
      CSS Guide

      1. General Styles
      2. Grid
      3. Header
      4. Main Hero Image
      5. Comtact us
      6. Product contents
      7. Footer
  */


  /* 1. ---General Styles--- */

h1, h2, h3, h4, h5, p {
      margin: 0;
      padding: 0;
}

a {
      text-decoration: none;
      transition: all .6s ease;
}

.hidden {
      display: none;
}

body {
      margin: 0;
      padding: 0;
      color: #626262;
      font-family: 'Sanchez', 'Times New Roman', serif;
      font-weight: normal;
      font-size: 14px;
}

#container {
	margin: 0 auto;
	width: 1920px;
      background-color: white;
}

.box-color {
      color: #fff;
      text-align: center;
      background-color: #4E4E4E;}



  /* 2. ---Grid--- */

/* this is our grid based off of our XD file */
.grid {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}



  /* 3.--Header--- */

header {
      position: sticky;
      grid-column: 1/-1;
      height: 200px;
      background-color: #9C9C9C;

      font-size: 23px;
}

#top-nav {
      grid-column: 1/-1;
      display: inline-grid;
}

#top-nav-L li{
      grid-column: 1/5;
      margin-right: 82px;
      display: inline;
      margin-top: 150px;
}

#top-nav-R li{
      grid-column: 9/-1;
      margin-right: 82px;
      display: inline;
      margin-top: 150px;
}
.nav li {
      margin-top: 150px;}

#main-logo {
      width: 260px;
      height: 160px;

      grid-column: 6/9;
}


/* 4. Main Hero Image */

main {background: #E1E1E1;}

#hero-2 {
      width: 960px;
      height: 880px;
      background-color: #C8C8C8;
      grid-column: 8/-1;
}
/* 5. Comtact us */
/* 6. Product contents */
/* 7. Footer */